/*reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*fine reset*/
/*inizio regole generali */
body {
  font-family: 'Montserrat', verdana;
  font-size: 13px;
  line-height: 1.4;
}
.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
/*fine regole generali */
/*inizio testa */
.testa {
  height: 70px;
  background: #e6f9ff;
}
.testa-left {
  float: left;
  padding-top: 17px;
  font-size: 12px;
  color: #0059b3;
  width: 30%;
}

.lingua-uno {
  border-right: 2px solid black;
  position: relative;
  float: left;
  padding-right: 10px;
}
.lingua-uno > div {
  display: inline-block;
}
.mondo-testa {
  margin-right: 4px;
  margin-top: 10px;
}
.lingua-due p {
  padding-left: 7px;
}
.lingua-due {
  float: left;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
}
.testa-destra li {
  float: right;
  list-style-type: none;
  display: inline-block;
  margin-top: 21px;
}
.testa-destra {
  right: 0
  top: 10%;
}
.testa-destra li a {
  text-decoration: none;
}
.lente {
  color: #33cfff;
  margin-right: 10px;
}
.login {
  background: white;
  color: #ff8533;
  padding: 5px;
  border: 2px solid #ff8533;
  border-radius: 3px;
  margin-top: 10px;
  margin-left: 8px;
}
.gethub {
  background: #ff8533;
  padding: 5px;
  border: 2px solid #ff8533;
  border-radius: 3px;
  margin-top: 10px;
  margin-left: 8px;
  color: white;
}
/*fine parte alta della testa*/
hr {
  width: 100%;
  height: 1px;
  color: #0059b3;
}
/*inizio parte bassa della testa*/
.testa-due {
  width: 100%;
  margin: auto;
  height: 40px;
}
.logo {
  float: left;
}
.logohub {
  width: 85px;
  height: 35px;
  margin: 7px 0 7px;
}
.menu-due {
  float: right;
}
.menu-due li {
  list-style-type: none;
  display: inline-block;
  margin-top: 18px;
}
.menu-due li a {
  text-decoration: none;
  color: #0059b3;
  margin-right: 6px;
}

/*fine testa */
/*inizio titolo */
.titolo {
  width: 100%;
  height: 600px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: 55% 0%;
  margin-top: 10px;
  background-size: 1400px;
  position: relative;
}
.testo-titolo p {

  color: #003380;
  padding-top: 25px;
  top: 150px;
  position: absolute;
  left: 10%;
}

.tit-uno {
  font-size: 20px;
  padding-top: 20px;
  letter-spacing: 1px;
  color: #003380;
  margin-top: 30px;
  position: absolute;
  left: 10%;
}
.testo-titolo li {
  list-style-type: none;
  font-size: 25px;
  padding: 10px;
  margin-top: 30px;
  left: 0%;
}
.testo-titolo li a {
  text-decoration: none;
}
.gethubdue {
  background: #ff8533;
  padding: 15px 20px;
  border: 2px solid #ff8533;
  border-radius: 6px;
  top: 260px;
  left: 10%;
  color: white;
  position: absolute;

}
.tools p {
  font-size: 10px;
  position: absolute;
  top: 360px;
  left: 10%;
}
/*fine titolo */
/*inizio sottotitolo */
.barra {
  width: 100%;
  height: 50px;
  background-color: #4dffdb;
  border-top: 2px solid #0059b3;
  border-bottom: 2px solid #0059b3;
}
/*fine sottotitolo */
/*inizio main */
/*inizio integration */
.corpo-centrale {
  width: 100%;
  background: #c1f0f0;
}
.integration {
  width: 90%;
  background-color: #c1f0f0;
  padding-bottom: 25px;
}
.integration img {
  width: 20%;
  height: 55%;
  margin: 2% 40% 2%;
}
.integration h3 {
  text-align: center;
  padding-bottom: 10px;
  color: #003380;
}
.integration p {
  text-align: center;

}
/*fine integration */
/*inizio crm */
.crm {
  width: 90%;
  height: 200px;
  background: white;
}
.immagine-crm {
  background-color: white;
  width: 30%;
  float: left;
}
.crm img {
  width: 112px;
  height: 112px;
  margin-top: 2%;
  margin-left: 30%;
}
.crm li a {
  text-decoration: none;
  color: white;
}
.crm li {
  list-style-type: none;
}
.crmbot {
  padding: 12px;
  font-size: 20px;
  margin-left: 90px;
  color: white;
  background-color: #ff8533;
  border: 1px solid #ff8533;
  border-radius: 5px;
}
.testo-crm {
  width: 60%;
  float: right;
  background: white;
  margin-top: 2%;
  position: relative;
}
.testo-crm p {

  padding-top: 10px;
  padding-bottom: 10px;
}
.testo-crm h3 , h4 {
  color: #003380;
}
.testo-crm hr {
  width: 65%;
  color: #003380;
  right: 5%;
  top: 90px;
  position: absolute;
}
.testo-crm li {
  display: inline-block;
  padding-top: 15px;
}
.testo-crm li a {
  padding-left: 10px;
  padding-right: 10px;
  color: #003380;
}
.testo-crm i {
  color: orange;
}
/*fine crm */
/*inizio trecol */
.trecol {
  width: 100%;
  background: #c1f0f0;
}
.trecol hr {
  color: #003380;
  width: 90%;
  margin: 6% 5% 10%;
}
.trecol h5 {
  text-align: center;
  color: #003380;
}
.trecol li {
  list-style-type: none;
}
.trecol li a {
  text-decoration: none;
  color: #003380;
  padding-left: 10px;
  font-size: 15px;
}
.trecol ul {
  margin-top: 25px;
  margin-left: 8px;
  margin-bottom: 50px;
}
.trecol i {
  color: #ff8533;
}
.trecol .more {
  background-color: #ff8533;
  color: white;
  padding: 20px;
  text-align: center;
  margin-left: 30%;
  border: 1px solid #ff8533;
  border-radius: 4px;
}
.more li a {
  text-decoration: none;
  color: white;
}
.more li {
  list-style-type: none;
}
/*inizio marketing */
.marketing {
  height: 500px;
  width: 26%;
  background: white;
  margin-top: 30px;
  float: left;
}
.marketing img {
  width: 80px;
  height: 80px;
  margin-left: 35%;
  margin-top: 20px;
}
.marketing h3 {
  color: #003380;
  text-align: center;
  padding-top: 14px;
}
.marketing p {
  color: #003380;
  padding: 15px 5px 15px;
  text-align: center;
}
/*fine marketing */
/*inizio sales */
.sales {
  height: 500px;
  width: 26%;
  background: white;
  margin-top: 30px;
  float: left;
  margin-left: 6%;
  margin-right: 6%;
}
.sales img {
  height: 90px;
  width: 90px;
  margin-left: 35%;
  margin-top: 13px;
}
.sales h3 {
  color: #003380;
  text-align: center;
  padding-top: 10px;
}
.sales p {
  color: #003380;
  text-align: center;
  padding: 15px 5px 15px;
}
/*fine sales */
/*inizio service */
.service {
  height: 500px;
  width: 26%;
  float: left;
  background-color: white;
  margin-top: 30px;
}
.service img {
  height: 90px;
  width: 90px;
  margin-left: 35%;
  margin-top: 13px;
}
.service h3 {
  text-align: center;
  color: #003380;
  padding-top: 10px;
}
.service p {
  font-size: 15px;
  padding: 15px 5px 15px;
  color: #003380;
  text-align: center;
}
/*fine service */
/*fine trecol */
/*inizio numeri*/
.numeri {
  width: 100%;
  margin: auto;
  height: 400px;
  background-color: red;
}
/*fine numeri*/
